{% extends 'base.html' %}

{% block title %} Return Item {% endblock %}


{% block head %}
    <style>
        .row {
            margin-bottom: 10px;
        }

        .card-body {
            padding:10px;
        }
    </style>

    <script>
        {% load transact_filters %}

        $("document").ready(function(){
            $(".return_button").click(function(){
                $("#purchaseId").val(parseInt(this.name));
            })
        });
    </script>
{% endblock %}


{% block body %}

<div class="container-fluid">
    <form action="{% url 'transact:search_purchase' %}" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-3">
                Date
                {{searchform.date}}
            </div>
            <div class="col-lg-3">
                Doc#
                {{searchform.documentNumber}}
            </div>
            <div class="col-lg-2">
                &nbsp;
                <button type="submit" class="btn btn-success form-control">Search</button>
            </div>
        </div>

    </form>

    <hr style="border-color:#a7a5a5;"/>
    <hr style="border-color:#a7a5a5;"/>

    <div class="row">
        <div class="col-lg-12">
            <table id="cart_table" class="table table-striped table-bordered" style="width:100%;">
                        
                <thead class="thead-dark">
                    <tr>
                        <th colspan=9 style="text-align:center;">PURCHASE DETAILS</th>
                    </tr>
                </thead>

                <tbody id="cart_table_body">
                    <tr style="font-weight:bold;">
                        <td>ID#</td>
                        <td>ITEM</td>
                        <td>Brand</td>
                        <td>Qty</td>
                        <td>Unit</td>
                        <td>Price</td>
                        <td>Amount</td>
                        <td></td>
                    </tr>
                    {% for transact in transactions %}
                        {% if transact|check_item %}
                            <tr style="color:red;">
                                <td>{{transact.id}}{{transact_status}}</td>
                                <td>{{transact.item.name}}</td>
                                <td>{{transact.item.brand}}</td>
                                <td>{{transact.quantity}}</td>
                                <td>{{transact.item.unit}}</td>
                                <td>{{transact.item.retailPrice}}</td>
                                <td>{{transact.quantity|mult:transact.item.retailPrice}}</td>
                                <!-- <td><button name="{{transact.id}}" class="btn btn-warning return_button" data-target="#return_form" data-toggle="modal">return</button></td> -->
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{transact.id}}{{transact_status}}</td>
                                <td>{{transact.item.name}}</td>
                                <td>{{transact.item.brand}}</td>
                                <td>{{transact.quantity}}</td>
                                <td>{{transact.item.unit}}</td>
                                <td>{{transact.item.retailPrice}}</td>
                                <td>{{transact.quantity|mult:transact.item.retailPrice}}</td>
                                <td><button name="{{transact.id}}" class="btn btn-warning return_button" data-target="#return_form" data-toggle="modal">return</button></td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan=6 style="text-align:right;">Total: </td>
                        <td colspan=2><b id="total_amount">{{total}}</b></td>
                    </tr>
                </tfoot>
            </table>                        

        </div>
    </div>

</div>  
    
<!-- The Modal OR_DETAILS -->
<div class="modal" id="return_form">
    <div class="modal-dialog">
        <div class="modal-content" style="width:150%">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Return Item</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
                <form action="{% url 'transact:return_item' %}" method="POST">
                    {% csrf_token %}
                    <!-- <div class="row">
                        <div class="col-lg-5">
                            <button id="defective" class="btn btn-warning">Defective</button>
                        </div>
                        <div class="col-lg-5">
                            <button id="not_defective" class="btn btn-primary">Not Defective</button>
                        </div>
                    </div> -->
                    {{return_form.purchaseId}}
                    <div class="row">
                        <div class="col-lg-5">
                            Date Returned
                            {{return_form.dateReturned}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            Condition
                            {{return_form.condition}}
                        </div>
                        <div class="col-lg-5">
                            Quantity
                            {{return_form.quantity}}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12">
                            Remarks
                            {{return_form.remark}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">
                            <input type="submit" class="btn btn-success form-control">
                        </div>
                    </div>
                </form>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
    
        </div>
    </div>
</div>
    
{% endblock %}