{% extends "login/base.html" %}
{% load staticfiles %}
{% block body_block %}
<!-- <!DOCTYPE html>
<html lang="en"> -->
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="registration1.css">

		{% load static %}
		<link href="{% static '/css/bootstrap1.min.css' %}" rel="stylesheet">
		<script src="{% static '/js/bootstrap1.min.js' %}"></script>
		<script src="{% static '/js/jquery-1.11.1.min.js' %}"></script>
		
		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="{% static '/css/registration1.css' %}">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
		
		<!-- Google Fonts -->
		<link href="{% static '/css/css.css' %}" rel='stylesheet' type='text/css'>
		<link href="{% static '/css/css1.css' %}" rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>

	<body>
			{% if messages %}
		{% for message in messages %}
			<div id="notification" style="
				width:30%;
				left:67%;
				top:80%;
				position:absolute;
				height:15%;
				z-index:1;
				">
				<div class="alert alert-{{message.tags}} alert-dismissible">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ message }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
		<div class="container">
			<div class="row main">
			{% if registered %}
        		<h1>Thank you for registering!</h1>
      		{% else %}
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Company Name</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form enctype="multipart/form-data" method="POST">
						{% csrf_token %}
						
         				

						<div class="form-group">
								<!-- {{ user_form.as_p }} -->
								
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								
								<div class="input-group">
										
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
							</div>
						</div>

						<div class="form-group">

							{{ profile_form.as_p }}

							<!-- <label for="name" class="cols-sm-2 control-label">Portfolio Site</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
								</div>
							</div> -->
						</div>

						<!-- <div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div> -->

						<div class="form-group ">
							<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Register">
						</div>

					</form>
					{% endif %}
				</div>
			</div>
		</div>

		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
</html>
{% endblock %}