{% extends "login/base.html" %}
{% load staticfiles %}
{% block body_block %}

{% if messages %}
{% for message in messages %}
  <div id="notification" style="
    width:30%;
    left:67%;
    top:80%;
    position:absolute;
    height:15%;
    z-index:1;
    ">
    <div class="alert alert-{{message.tags}} alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
  </div>
{% endfor %}
{% endif %}

  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}