{% extends 'base.html' %}

{% block title %} Inventory {% endblock %}


{% block head %}
    <style>
        .row {
            margin-bottom: 10px;
        }

        .card-body {
            padding:10px;
        }

        .sortable {  cursor: pointer;}
        .st-sort-ascent i,.st-sort-descent i {  padding-right: 3px;}
        .st-sort-ascent i:before {  content: '\25B2';}
        .st-sort-descent i:before {  content: '\25BC';}

    </style>

    <script>
        $("document").ready(function(){
            $("#inventory_table").DataTable();
            $("#transactions_table").DataTable();

            var name="";
            var brand="";
            var qty="";
            var unit="";
            var wsp=0;
            var srp=0;
            var distributor="";

            $(".import_button").click(function(){
                name=$(this).siblings().eq(0).text();
                brand=$(this).siblings().eq(1).text();
                unit=$(this).siblings().eq(3).text();
                wsp=$(this).siblings().eq(4).text();
                srp=$(this).siblings().eq(5).text();
                distributor=$(this).siblings().eq(6).text();

                $("#item_name").val(name);
                $("#item_name2").text(name);
                $("#item_brand").val(brand);
                $("#item_unit").val(unit);
                $("#item_wsp").val(wsp);
                $("#item_srp").val(srp);
                $("#item_distributor").val(distributor);      
            });
        });
        {% load warehouse_filters %}
    </script>
{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row">
        <!-- Left Column -->
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-2">
                    <button id="import_transactions_button" data-target="#import_transactions_modal" data-toggle="modal" class="btn btn-primary" style="width:100%;">TRANSACTIONS</button>
                </div>
                <div class="col-lg-2">
                    <button id="add_new_item_button" data-target="#add_new_item_modal" data-toggle="modal" class="btn btn-success" style="width:100%;">ADD NEW ITEM</button>
                </div>
            </div>

            <hr/>

            <table id="inventory_table" class="table table-striped table-bordered" style="width:101%;">
                                
                <thead>
                    <tr>
                        <th colspan=8 style="text-align:center;">INVENTORY</th>
                    </tr>
                    <tr class="st-sort-descent">
                        <td st-sort="name" st-sort-default="reverse"><i st-sort="name"></i>ITEM</td>
                        <td st-sort="brand" st-sort-default="reverse"><i st-sort="brand"></i>Brand</i></td>
                        <td st-sort="qty" st-sort-default="reverse"><i st-sort="qty"></i>Qty</td>
                        <td st-sort="Unit" st-sort-default="reverse"><i st-sort="Unit"></i> Unit </td>
                        <td st-sort="wsp" st-sort-default="reverse"><i st-sort="wsp"></i>WSP</td>
                        <td st-sort="srp" st-sort-default="reverse"><i st-sort="srp"></i>SRP</td>
                        <td st-sort="distributor" st-sort-default="reverse"><i st-sort="distributor"></i>DISTRIBUTOR</td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>
                    {% for item in Items %}
                    {% if item|low_quantity %}
                        <tr style="color:red;">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{item.name}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.quantityLeft}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.retailPrice}}</td>
                        <td>{{item.distributor}}</td>
                        <td class="import_button">
                            <button type="button" class="btn btn-success" data-target="#import_stocks_modal" data-toggle="modal">
                                +
                            </button>
                        </td>                    
                    </tr>
                    {% endfor %}
                </tbody>
              
            </table>                        

        </div>

    </div>
</div>

                <!-- The Modal Import item-->
                <div class="modal" id="import_stocks_modal">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width:150%">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Import Stocks</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="{% url 'warehouse:inventory' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4">
                                            Date
                                            {{ImportForm.date}}
                                        </div>
                                        <div class="col-lg-4">
                                            Document Number
                                            {{ImportForm.documentNumber}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ImportForm.name}}
                                            <div class="card">
                                                <div id="item_name2" class="card-body">Item name</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{ImportForm.brand}}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ImporForm.distributor}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            {{ImportForm.price}}
                                        </div>
                                        <div class="col-lg-4">
                                            {{ImportForm.retailPrice}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            {{ImportForm.quantity}}
                                        </div>
                                        <div class="col-lg-3">
                                            {{ImportForm.unit}}
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-9">&nbsp;</div>
                                        <div class="col-lg-3">
                                            <button type="submit" class="btn btn-success form-control">Submit</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            
                    
                        </div>
                    </div>
                </div>


                <!-- The Modal IMPORT transactions -->
                <div class="modal" id="import_transactions_modal">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width:150%">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Import Transactions</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                    <table id="transactions_table" class="table table-striped table-bordered" style="width:100%;">
                                
                                        <thead>
                                            <tr>
                                                <th colspan=8 style="text-align:center;">TRANSACTIONS</th>
                                            </tr>
                                            <tr>
                                                <td>DATE</td>
                                                <td>ITEM</td>
                                                <td>Brand</td>
                                                <td>Qty</td>
                                                <td>Unit</td>
                                                <td>WSP</td>
                                                <td>SRP</td>
                                                <td>DISTRIBUTOR</td>

                                            </tr>
                                        </thead>
                        
                                        <tbody>
                                            {% for transaction in Transactions %}
                                            <tr>
                                                <td>{{transaction.date}}</td>
                                                <td>{{transaction.item.name}}</td>
                                                <td>{{transaction.item.brand}}</td>
                                                <td>{{transaction.quantity}}</td>
                                                <td>{{transaction.item.unit}}</td>
                                                <td>{{transaction.item.price}}</td>
                                                <td>{{transaction.item.retailPrice}}</td>
                                                <td>{{transaction.item.distributor}}</td>          
                                            </tr>
                                            {% endfor %}
                                          
                                        </tbody>
                        
                                    </table>                        
                            
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                    </div>
                </div>


                <!-- The Modal Import item-->
                <div class="modal" id="add_new_item_modal">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width:150%">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">New Item</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="{% url 'warehouse:add_new_item' %}" method="post">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="col-lg-12">
                                            Item Name
                                            {{NewItemForm.name}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            Brand
                                            {{NewItemForm.brand}}
                                        </div>
                                        <div class="col-lg-6">
                                            Distributor
                                            {{NewItemForm.distributor}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            Price
                                            {{NewItemForm.price}}
                                        </div>
                                        <div class="col-lg-4">
                                            Retail Price
                                            {{NewItemForm.retailPrice}}
                                        </div>
                                        <div class="col-lg-4">
                                            Unit
                                            {{NewItemForm.unit}}
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-9">&nbsp;</div>
                                        <div class="col-lg-3">
                                            <button type="submit" class="btn btn-success form-control">Submit</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            
                    
                        </div>
                    </div>
                </div>

{% endblock %}
